menu "Zephyr Kernel"
    source "Kconfig.zephyr"
endmenu

menu "bsp"
    rsource "src/bsp/Kconfig.bsp"
endmenu

menu "Event queue"
    rsource "src/library/Kconfig.event_queue"
endmenu

menu "Coordinator"
    rsource "src/module/Kconfig.module"
endmenu

module = APPLICATION
module-str = App
source "subsys/logging/Kconfig.template.log_config"
